{
    "env": {
      "browser": true,
      "es6": true,
      "node": true,
      "jest": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
  },
    "plugins": ["babel"],
    "extends": ["airbnb", "prettier"],
    "rules": {
      "semi": "off",
      "radix": "off",
      "no-shadow": "warn",
      "no-unused-vars": "off",
      "no-use-before-define": "warn",
      "jsx-a11y/anchor-is-valid": "off",
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/no-static-element-interactions": "off",
      "react/jsx-closing-bracket-location": "off",
      "react/jsx-one-expression-per-line": "off",
      "react/no-danger": "off",
      "react/no-array-index-key": "warn",
      "react/no-unescaped-entities": [
        "error",
        {
          "forbid": [">", "}"]
        }
      ],
      "react/react-in-jsx-scope": "off",
      "react/jsx-props-no-spreading": "off",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/self-closing-comp": "off",
      "import/order": "off",
      "no-unneeded-ternary": "warn",
      "no-empty": "off",
      "no-nested-ternary": "off",
      "prefer-destructuring": "off",
  
      // tslint.json 에서 수동 mig
      "object-curly-spacing": ["error", "always"],
      "strict-boolean-expressions": "off",
  
      "comma-dangle": [
        "error",
        {
          "arrays": "always-multiline",
          "exports": "always-multiline",
          "functions": "only-multiline",
          "imports": "always-multiline",
          "objects": "always-multiline"
        }
      ],
  
      "react/require-default-props": "off",
      "import/prefer-default-export": "off",
      "max-classes-per-file": "off",
      "class-methods-use-this": "off"
    }
  }